# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings
.vscode/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml

# Logs
*.log

# Test output
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
k8s/